/* Cambia los colores para el perfil del administrador */
.profile-name {
  font-weight: bold;
  margin: 10px 0 0;
  color: #dc2527; /* Rojo para administrador */
}

/* Imagen de perfil */
.profile-image {
  border-radius: 50%;
  width: 120px; /* Tamaño ligeramente mayor para admin */
  height: 120px;
}

/* Botones específicos del administrador */
.edit-button {
  background-color: #dc2527;
  color: white;
  font-weight: bold;
}
